{% extends "layout.html" %} {% block content %} {% raw %}
<div id="title" class="row">
    <p>แก้ปัญหาโจทย์การเคลื่อนที่ของฟิสิกส์</p>
</div>
<form>
    <button type="submit" class="btn" id="test1">test1</button>
    <button type="submit" class="btn" id="test2">test2</button>
    <button type="submit" class="btn" id="test3">test3</button>
    <div id="input">
        <textarea class="form-control" rows="6"></textarea>
    </div>
    <div id="access">
        <div class="row">
            <button type="submit" class="btn btn-primary" ng-click="getRecommend();" >Recommend</button>
        </div>
        <div class="row">
            <button type="submit" id="answers" class="btn btn-primary">Show answers</button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-4">Check :
        <input type="text" name="check" id="check" ng-keyup="recomm($event)">
    </div>
    <div class="preword col-md-8">
        <ul class="recomm">
            <li ng-repeat="word in wordrecommand track by $index" class="word">{{ word }}</li>
        </ul>
    </div>
</div>
<div class="row recommend sample-show-hide" ng-show="recommendShow">
    <h2>Recommend</h2>
    <hr>
    <p>จากโจทย์ให้ตัวแปล</p> <b ng-repeat="variable in recommend">{{ variable }}</b>
</div>
<div class="row recommend sample-show-hide" ng-show="answersShow">
    <h2>Recommend</h2>
    <hr>
    <p>จากโจทย์ให้ตัวแปล</p>
</div>

{% endraw %} {% endblock %}
